body{
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.photo{
    width: 150px;
}
.card{
    width: 400px;
    margin: 15px auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #780000;
    background: #f5ebe0;
    border: 6px solid #e29578;
    border-radius: 5px;
}